
// Cores Padrão
$background-principal-cor: #807EFB;
$texto-cor1: #170071;
$background-secundario-cor:#75E2E4;
$texto-cor2: #000;
$background-terciario-cor:rgba(113, 109, 249, 1);
$texto-cor3: #fff;
$body-bg: rgba(113, 109, 249, 0.39);



